body { 
    background-color: rgb(30, 30, 32); 
    width: 100vw; 
    height: 100vh; 
    padding: 0px;
    margin: 0px;
    overflow: hidden; 
}

.movable { 
    width: 5vw; 
    height: 5vw; 
    background-color: rgb(150, 150, 150);
    position: absolute; 
    top: 8vw; 
    left: 2vw; 
}

.output { 
    width: 1vw; 
    height: 1vw; 
    background-color: rgb(150, 150, 150);
    position: absolute; 
    top: 2vw;
    left: 5vw; 
}

.input {
    width: 1vw; 
    height: 1vw; 
    background-color: rgb(150, 150, 150);
    position: absolute; 
    top: 1vw; 
    left: -1vw; 
}

#top-bar {
    background-color: rgb(50, 50, 50);
    width: fit-content; 
    height: fit-content; 
    display: flex;
    position: absolute;
    top: 1vw; 
    left: 50vw; 
    transform:translate(-50%, 0);
    padding-right: 1vw; 
    padding-bottom: 1vw;
    border-radius: 0.5vw;
    box-shadow: 0.25vw 0.25vw 0.25vw rgb(20, 20, 22);   
}

.logic-gate { 
    width: 5vw; 
    height: 4vw;  
}

.new-gate-button { 
    background-color: rgb(125, 125, 125);
    width: 5vw; 
    height: 4vw; 
    display: flex;
    float: left;
    margin-left: 1vw;
    margin-top: 1vw;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.2vw 0.2vw rgb(100, 100, 100) inset;
    transition: 0.15s;
}

.new-gate-button:hover {
    background-color: rgb(190, 190, 200); 
    box-shadow: 0.25vw 0.25vw 0.25vw rgb(30, 30, 30);   
    transition: 0.15s;
}